html {
  font-size: calc(100vw / 1920px * 10px);
}

body {


  @extend %description-14;
  font-family: $font-suisse-bp;

  @include media('<=phone') {
    font-size: 3rem;
  }
}

img {
  vertical-align: middle;
}